# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### _Below are a few examples of evaluating arithmetic expressions in Python_

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
convert = 200/60
hours = convert
print("We have converted 200 minutes into hours: ", hours)

We have converted 200 minutes into hours:  3.3333333333333335

__Objectives:__
+ List popular languages for Data Science
+ Arithmetic Expressions
+ Data Science Libraries
+ Data Science Tools

## Author
Abdullah Waseem